// Ant Design
@import "~antd/dist/antd.css";

// Colors
$white: #fff;
$blue: #364d79;
$icon-color: rgba(0, 0, 0, 0.25);

html,
body,
#app {
  height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.ant-layout {
  background-color: $white;
}

.ant-layout-header .ant-typography {
  color: $white;
}

.top-margin {
  margin-top: 20px;
}

.bottom-margin {
  margin-bottom: 20px;
}

.bottom-margin-double {
  margin-bottom: 40px;
}

.margin-none {
  margin: 0 !important;
}

.pagination {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ant-carousel .slick-slide {
  background: $blue;
  line-height: 160px;
  overflow: hidden;
  height: 400px;
  text-align: center;
}

.movie-image {
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.movie-data {
  margin-top: 20px;
}

.anticon-user,
.anticon-lock {
  color: $icon-color;
}

.form__login {
  padding: 0 10px;
}

.ant-card-meta-description {
  overflow: hidden;
  height: 100px;
}
